<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description | default: site.description }}">
  <title>{{ page.title | default: site.title }}</title>

<link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
<link rel="shortcut icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">

<script src="https://analytics.ahrefs.com/analytics.js" data-key="etcnf7rAvML3iAo8B/KUvA" async></script>

{% seo %}
